/* Css Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
    
}

:root {

    --primary-color: #3A6051;
    --secondary-color: #FFA63A;
    --body-color: #f7f8fa;
    --card-color: #f7f8fa;
    --contact-heading: #000;
    --paragraphs: #000;
    --blockquotes: #6c757d;
    --footer-color: #e8e8e8;
    --footer-heading: #3A6051;
    --footer-links: #6c757d;
    --navbar: #fff;
    --navbr-text: #000;
    --navbar-toggle: #000;
    --navbar-toggle-bg:  #00000000;
    --copyright-link: #3A6051;
    --hr-color:  #6c757d;

}

.dark-mode {

    --primary-color: #3A6051;
    --secondary-color: #FFA63A;
    --body-color: #242525;
    --card-color: #e3e3e3;
    --contact-heading: #fff;
    --card-text: #000;
    --paragraphs: #c6c8cc;
    --blockquotes: #fff;
    --footer-color: #232324;
    --footer-heading: #3A6051;
    --footer-links: #c6c8cc;
    --navbar: #232324;
    --navbr-text: #fff;
    --navbar-toggle-bg: #fff;
    --copyright-link: #3A6051;
    --hr-color:  #fff;
}

p {
    color: var(--paragraphs);
}

.navbar-brand {
    color: var(--navbr-text) ;
}

.nav-link {
    color: var(--navbr-text);
}
.navbar  {
    background-color: var(--navbar);
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggler {
    border-color: var(--navbar-toggle) ;
    background-color: var(--navbar-toggle-bg) ;
   
}

.navbar-toggler-icon {
    color: var(--navbar-toggle);
   
}

.blockquote-footer{
    color: var(--blockquotes);
}

body {
	line-height: 1;
    background-color: var(--body-color) ;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Css Reset */



body{
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand  {
    font-weight: 500;
}

.nav-item {
    font-weight: 500;
    color: var(--primary-color);
}

.navbar-text {
    font-weight: 500;
}


#icon {
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
   
    
}

.btn-success {
   background-color: var(--secondary-color) !important;
   color: #fff;
}

.btn-outline-success {
    color: #fff;
}

.btn-outline-success:hover {
    background-color: var(--secondary-color) !important;
}

section{
    margin-bottom: 100px;
}

.headercontainer {
    height: 600px;
   width: 100%;
    background-color: var(--primary-color);
   /* background-image: url("./images/bg-img.jpg"); */
   background-size: cover;
   background-repeat: no-repeat;
   resize: both;
}


#headercol{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headbutton{
    display: flex;
    
}

#buttonhead {
    margin-right: 10px;
}

.bgh1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
    color:#fff;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
}
.bgp1 {
    color:#fff;
    font-weight: 100;
    text-justify: auto;
    width: 70%;
}

.bgimg {
    margin-top: 60px;
    border-radius: 20px;
}


/* About Section */
@media only screen and (min-width: 980px) {

.aboutcontainer {
    margin-top: 100px;
    height: 500px;
}
#aboutheader {
    margin-top: 70px;  
    
}
}

.imgitem {

    border-radius: 20px;
}


.bdyh2 {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}



#btn4white {
    color: #000;   
}

#btn4white:hover {
    color: #fff;   
}




#aboutheader .btn-success{
    border-color:var(--secondary-color) !important;
    
}

#aboutheader .btn-outline-success{
    border-color: var(--secondary-color);
}

.bdyh2 {
    color:var(--primary-color)
}
/* End About Section */

/* Product Section */
.card {

transition: 0.6s;

}

.card:hover {
    box-shadow: 1px 1px var(--primary-color);
}




.card-img-top {
    height:250px;
}

@media only screen and (max-width: 1000px)  and (min-width: 600px){
    
    
    
    .card-img-top {
        height:180px;
    }

}

@media only screen and (max-width: 990px) {

    #icon {
        
        padding-bottom: 10px;
        
    }

}

.card-img-top:hover {
    opacity: 0.8;
}

div .card .btn-success{
    display: flex;
}

.checked {
    padding-top: 10px;
    color: var(--secondary-color);
}

.card-body {
    background-color: var(--card-color);
}

.card-body .btn {

    margin-top: 20px;
}

.card-row {
    display: flex;
    padding-top: 10px;
}

.card-title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 20px;
}


.card-text {
    color: var(--card-text);
}


#loadsection {
    margin-top: 35px;
}

hr {
    color: var(--hr-color) ;
    width: 25%;
    margin: auto;
    padding-bottom: 40px;
}
/* Enddd Product Section */

/* Contact Section */


#contact {
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 40px;
}

.ctchead {
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
    color: var(--contact-heading);
    
}


#ctcicons {
    color: var(--secondary-color);
    border-radius: 30%;
  border: 2px solid grey;
  padding: 5px;
}

#ctcicons:hover {
    color: var(--primary-color);
    border: 2px solid black;
}
label {
    color: var(--paragraphs) ;
}



/* End Contact Section */

/* Footer */

#my-footer{
    min-height: fit-content;
    margin-top: 30px;
    background-color:var(--footer-color);
}

.footerheading{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footerheading{
 color: var(--footer-heading);
}

.text-muted {
    --bs-text-opacity: 1;
    color: var(--footer-links) !important;
}

.copyright{
    margin-bottom: 15px;
    color: var(--paragraphs);
}

.copyrightlink {
    color: var(--copyright-link);
}

#fticons {
    color: var(--secondary-color);
}
#fticons:hover {
    color: var(--primary-color);
}

#btn-back-to-top {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

